- content_for :title, 'Ryota Kameoka'
- content_for :javascript do
  :coffee
    $ ->
      pad = (n) -> if n < 10 then '0' + n else n

      setTimeout ->
        d = new Date()
        yy = d.getFullYear()
        mm = pad d.getMonth() + 1
        dd = pad d.getDate()
        h = pad d.getHours()
        m = pad d.getMinutes()
        $('#datetime').text(['[', yy, '-', mm, '-', dd, ' ', h, ':', m, ']'].join(''))
      , 15000

      $('nav').find('a').on 'click', (e) ->
        e.preventDefault()
        target = $(@).attr('href')
        $('html, body').animate({ scrollTop: $(target).offset().top }, 500)

      $productsWrapper = $('#products-wrapper')
      $productsWrapper.equalize()

.page
  %h1= 'Ryota Kameoka'

  %section#profile
    %h2= 'profile'
    %dl
      %dt= 'birthday'
      %dd= "Jun 7, 1993 (age #@age)"
      %dt= 'location'
      %dd= 'Sakyo, Kyoto, Japan'
      %dt= 'hometown'
      %dd= 'Kishiwada, Osaka, Japan'
      %dt= 'education'
      %dd= link_to 'Faculty of Economics, Kyoto University', 'http://www.econ.kyoto-u.ac.jp/'
      %dt= 'company'
      %dd= link_to 'Lovegraph Inc.', 'http://lovegraph.me/company/'
      %dt= 'community'
      %dd= link_to 'CAMPHOR-', 'https://camph.net/'

  %hr

  %section#skills
    %h2= 'skills'
    %ul
      - @skills.each do |skill|
        %li= skill.name

  %hr

  %section#awards
    %h2= 'awards'
    %ul
      - @awards.each do |award|
        %li
          %span.green= award.award
          = award.title
          %span.gray= award.date.strftime('(%Y.%m)')

  %hr

  %section#links
    %h2= 'links'
    %ul
      - @links.each do |link|
        %li= link_to link.title, link.url

  %hr

  %section#products
    %h2= 'products'
    #products-wrapper
      - @products.each do |product|
        = link_to product.url, class: 'product col-lg-3 col-md-4 col-sm-4' do
          .inner-box
            = image_tag "/images/products/#{product.id}.png", class: :eyecatch
            %h3.name= product.name
            %p.description= product.description

%nav.hidden-xs
  %ul.navigation
    %li#datetime.datetime
      = Time.now.strftime('[%Y-%m-%d %H:%M]')
      - ['top', 'profile', 'skills', 'awards', 'links', 'products'].each.with_index(1) do |section, i|
        %li
          = link_to "[#{i} #{section}]", "##{section}"
    %li.session= '[ryota-ka.me]'
